/* ou bien on peut faire  */
/* .clair et .sombre sont des classes css */
.clair{
    background-color: white;
    color: black;
}
.sombre{
    background-color: black;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}



/*  bouton */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357ABD;
}